<div class="gf-form-group">
	<h5>Development</h5>
	<div class="gf-form">
		<label class="gf-form-label width-10">Debug</label> 
		<editor-checkbox text="Enable" model="ctrl.panel.treeMap.debug" class="gf-form-checkbox" ></editor-checkbox>
	</div>
</div>
<div class="gf-form-group">
	<h5>Options</h5>
	<div class="gf-form">
		<label class="gf-form-label width-10">Mode</label> 
		<select
			ng-options="option for option in ctrl.options.treeMap.modes"
			ng-model="ctrl.panel.treeMap.mode" ng-change="ctrl.refresh()"></select>
	</div>
	<div class="gf-form">
		<label class="gf-form-label width-10">Aggregation</label> 
		<select
			ng-options="option for option in ctrl.options.treeMap.aggregationFunctions"
			ng-model="ctrl.panel.treeMap.aggregationFunction" ng-change="ctrl.refresh()"></select>
	</div>
	<div class="gf-form">
		<label class="gf-form-label width-10">Time Blocks</label> 
		<editor-checkbox text="Enable" model="ctrl.panel.treeMap.enableTimeBlocks" class="gf-form-checkbox" ></editor-checkbox>
		<label ng-show="ctrl.panel.treeMap.enableTimeBlocks" class="gf-form-label">use "timestamp" in your ID List to override the nesting level</label>
	</div>
	<div class="gf-form">
		<label class="gf-form-label width-10">Grouping</label> 
		<editor-checkbox text="Enable" model="ctrl.panel.treeMap.enableGrouping" class="gf-form-checkbox" ></editor-checkbox>
	</div>
	<div class="gf-form">
		<label class="gf-form-label width-10">Group Depth</label> 
		<input type="text" ng-model="ctrl.panel.treeMap.depth" ng-blur="ctrl.render()" class="gf-form-input">
	</div>
</div>

<div class="gf-form-group">
	<div class="edit-tab-content">
		<div class="gf-form-group">
			<h5>Grouping <tip>Regex match example: /server[0-3]/i </tip></h5>
			<div class="gf-form">
				<label class="gf-form-label width-10">ID list</label> 
				<div class="gf-form"  ng-repeat="idString in ctrl.panel.treeMap.ids track by $index">
					<input type="text" ng-model="idString" placeholder="alias" data-min-length=0 ng-change="ctrl.changeTreeMapId(idString, $index)" class="gf-form-input width-10">
					<label class="gf-form-label">
						<i class="fa fa-trash pointer" ng-click="ctrl.removeTreeMapId($index)"></i>
					</label>
				</div>
				<div class="gf-form">
					<label class="gf-form-label">
						<i class="fa fa-plus pointer" ng-click="ctrl.addTreeMapId()"></i>
					</label>
				</div>
			</div>
			<div class="gf-form-inline" ng-repeat="group in ctrl.panel.treeMap.groups">
				<div class="gf-form">
					<label class="gf-form-label">group name</label>
				</div>
				<div class="gf-form width-10">
					<input type="text" ng-model="group.key" ng-blur="ctrl.render()" data-min-length=0 data-items=100 class="gf-form-input">
				</div>
				
				<div class="gf-form">
					<label class="gf-form-label">alias or regex</label>
				</div>
				<div class="gf-form width-10">
					<input type="text" ng-model="group.value" bs-typeahead="getSeriesNames" ng-blur="ctrl.render()" data-min-length=0 data-items=100 class="gf-form-input">
				</div>

				<div class="gf-form">
					<label class="gf-form-label">
						<i class="fa fa-trash pointer" ng-click="ctrl.removeTreeMapGroup(group)"></i>
					</label>
				</div>
			</div>
		</div>

		<button class="btn btn-inverse" ng-click="ctrl.addTreeMapGroup()">
			<i class="fa fa-plus"></i>&nbsp;Add group
		</button>
	</div>
</div>